/*.description{
    display: inline-block;
    height: 100px;
    width: 100%;
    word-break: break-all;
    overflow-x: hidden;
    overflow-y: auto;
}*/

#center_annonce{
    display: flex;
    justify-content: center;
}

#annonce-container{
    padding: 10px;
    margin: 20px;
    display: flex;
    justify-content: center;
    width: min-content;
    box-sizing: border-box;
    /*background-color: #dddddd;
    -webkit-box-shadow: 0px 1px 8px 3px rgba(168,168,168,1);
    -moz-box-shadow: 0px 1px 8px 3px rgba(168,168,168,1);
    box-shadow: 0px 1px 8px 3px rgba(168,168,168,1);*/
}


@media only screen and (min-width: 1250px) {
    .grid-container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 5px;
    }
}

@media only screen and (max-width: 1250px) {
    .grid-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 5px;
    }
}

@media only screen and (max-width: 1150px) {
    .grid-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 5px;
    }
}

@media only screen and (max-width: 600px) {
    .grid-container{
        display: grid;
        grid-template-columns: repeat(1, 100%);
        padding: 5px;
    }
}


.card {
    box-shadow: 0 1px 1px 1px rgb(168, 168, 168);
    margin: 9px;
    padding: 7px;
    transition: transform .2s;
}

.card:hover{
    transform: scale(1.03);
}

.btnAnnonce{
    width: 100%;
}


/* ------- Annonces détaillée ---------*/
#titleAnnonceDetails{
    color: var(--webAnnonce_Blue);
}

#img_annonceDetails{
    /*height: 100%;
    width: auto;*/
    width: 100%;
    height: auto;
    margin: 0 0 15px 0;
    box-shadow: 0 0 5px 2px rgb(168, 168, 168);
}

#mainContainerAnnonce{
    height: min-content;
    margin-bottom: 10px;
    /*display: block;*/
    border: solid 1px darkgrey;
    padding: 30px;
}

#texte2Annonce{
    margin-top: 40px;
}

.description{
    border-top: 5px var(--webAnnonce_Blue) double;
    display: flex;
    padding-top: 20px;
    margin-top: 30px;
}



