/* ----- Login - Register -------*/

.btnSubmit{
    margin: 5px;
    width: 100%;
}

.form{
    margin-top: 10px;
    margin-bottom: 20px;
}
/*
.form:first-child{
    margin-top: 10px;
}
.form:nth-child(2){
    margin-bottom: 10px;
}
*/

.titre-form{
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0;
    /*background-color: yellow;*/
}


/***************************************************************************************************
    Style pour le petit texte de redirection vers le formulaire d'inscription ou de connextion
 */
.form-legend-text{
    display: block;
    padding: 0.2em;
    text-align: center;
    font-size: 0.8em;
    color: red;
}

.form-legend-text a:hover{
    padding: 0.4em;
    color: white;
    border-radius: 5px;
    background-color: #0b5ed7;
}

/* ------ Register -------*/

#mainContainer{

}

#div_formRegisterLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: blueviolet;
    margin-top: 50px;
}

#log{
    display: block;
}

#log:hover{

}
#registerForm{
    padding: 5px;
}

#div_login{
    height: 100%;
}

/* ------- Login ---------*/

#loginForm{
    display: block;
    margin: 5% auto 10% auto;
}

#loginForm .btn{
    margin-top: 10px;
}

/***************************************************************************************************
   autre
 */

.bg-yellow{
    background-color: yellow;
}


