.descriptionHome{
    margin: 0 auto;
    width:50%;
    padding-top: 10px;
    text-align: center;
    font-family: Andale Mono, monospace;
}

.bienvenu{
    margin: 0 auto;
    width: 300px;
    padding-top: 10px;
    font-family: Impact, fantasy;
    text-align: center;
}

.img_carousel{
    margin: auto;
    width: 50%;
    height: auto;
}
