#containerNav{
    /*position: absolute;
    top: 0;
    right: 0;
    left: 0;*/
    display: flex;
    margin-top: -78px;
    margin-right: 0;
    width: 100%;
    box-shadow: 0 1px 5px grey;
    background-color: #cccccc;
    color: black;
}


#containerFooter{
    height: 5%;
    box-shadow: 1px 0 5px grey;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: black;
    padding-top: 15px;
    padding-right: 20px;
    padding-left: 20px;
}

#div_title_nav{
    padding: 25px;
}

#title_nav{
    font-weight: bolder;
}

.nav-item a, a.nav-link, #list_nav a{
    color: black;
    font-weight: bolder;
}

/* ----- Footer -------*/


#footer_texte{
    color: white;
}

#initiale{
    float: right;
}




